!!! Strict
%html{ lang: 'en', 'xml:lang' => 'en', xmlns: 'http://www.w3.org/1999/xhtml' }
  %head
    %title Rhymes
    %link{ rel: 'stylesheet', href: '/app.css', type: 'text/css', media: 'all'}
  %body
    %h1 Perfect And Identical Rhymes
    .content
      = yield
