body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #669;
  background-position: center top;
  background-color: #ddd;
  text-align: center;
  margin: 20px;
  padding: 0; }

.word {
	font-size: 1.2em;
}

.rhymes {
	font-size: 0.9em;
	text-decoration: italic;
}

.submit input {
  font-size: 1.2em;
  margin-bottom: 20px;
}

